body {
  width: 100%;
  height: 100vh;

  background-color: #ffd700;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50;
}

header {
  position: fixed;

  background-color: #0057b8;
}

.search-form {
  input {
    margin-right: 10;
  }

  input,
  button {
    background-color: #ffd700;
    color: #0057b8;

    cursor: pointer;

    border-radius: 5px;

    &:hover {
      background-color: #eec699;
      color: #9946a7;
    }

    &:focus {
      background-color: #ddb588;
      color: #883506;
    }
  }
}

main {
  padding: 60px 5px 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  justify-content: center;
}

.photo-card {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  border-color: tomato;
  border: 5px;
  border-radius: 5px;

  background-color: #1168c9;
  color: #00e811;

  text-align: center;
  justify-content: space-between;

  padding: 5px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 10px) / 2);
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 30px) / 4);
  }

  img {
    width: 100%;
    max-width: 640px;

    margin: 0 auto;

    border-radius: 5px 5px 0 0;
  }

  .info {
    align-items: flex-end;
  }
}

.load-more {
  color: #ffd700;
  background-color: #0057b8;

  cursor: pointer;

  border-radius: 5px;

  &:hover {
    background: #eec699;
    background-color: #9946a7;
  }

  &:focus {
    color: #ddb588;
    background-color: #883506;
  }
}